RewriteEngine on
RewriteBase /
RewriteRule ^projects/?$ http://kwpolska.github.io/projects/
RewriteRule ^projects/(.*) http://kwpolska.github.io/projects/$1
RewriteRule ^atom.xml http://chriswarrick.com/rss.xml
RewriteRule ^blog/organizational_structures/(.*) http://chriswarrick.com/blog/tags/$1

AddType text/css .css
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
AddCharset UTF-8 .html

ErrorDocument 403 /err/403/index.html
ErrorDocument 404 /err/404/index.html
ErrorDocument 500 /err/500/index.html
ErrorDocument 503 /err/503/index.html
