/*! Anti-Ecology Earth Hour stylesheet by Kwpolska. !*/
@import url('http://kwcdn.tk/css/light.min.css');

header {
    background-color: #2222E3;
}

#sitenav ul, #sitenav ul li {
    background: #22CCFF;
}

a {
    color: #2222E3;
}

a:visited {
    color: #6622E3;
}

article {
    background-color: #fff;
    border: 1px solid #2222E3;
}

.blognotice {
    background: #fff;
    border: #;
}

code, pre, blockquote, aside, input, textarea, figure {
    border: 1px solid #ddd;
    background: #fff;
}

article {
    border: 1px solid #2222E3;
    background: #FFF;
}

article header, article footer { background: #fff; }

article .text {
    border: 1px solid #eee;
}