#form {
    text-align: center;
}
pre {
    border: 1px solid #000;
    margin: 1px;
    padding: 0;
    max-width: 99%;
    width: 99%;
    white-space: pre-wrap; /* please don't touch it */
}
/* End of mandatory rules.
   The following rules are optional.  You can get rid of them.
 */

body, html {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 10pt;
}
code, pre {
    background-color: #eee;
    border: 1px solid #bbb;
    color: #000;
    font-family: "DejaVu Sans Mono", "Droid Sans Mono", monospace;
}
pre code {
    border: none;
}
