{% extends "base.j2" %}{% block predoctype -%}<?php ob_start(); include('/home/srv/http/kwpolska/contact/antibot.php'); ob_end_flush(); ?>{%- endblock %}{% block scripts -%}<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.16/themes/smoothness/jquery-ui.css" type="text/css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#submit").button();
    $("#abq").autocomplete({
        source: ["first", "second", "third", "fourth", "fifth", "sixth"]
    }, "option", "showAnim", "slideDown");
    $("#form").validate();
});</script>
<!--<script src="{{ media_url('js/vfbp.js', safe='/#') }}"></script>-->
{%- endblock %}

