{% block predoctype %}{% endblock %}<!DOCTYPE html>
<html lang="en" class="no-js">
<head lang="en">
{% block starthead %}{% endblock starthead %}
    <meta charset="UTF-8">
    <title>{% block title %}{{ resource.meta.title }}{% endblock %} — Kw’s Blog</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">
    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="{{ resource.meta.viewport }}">

    <link rel="canonical" href="{{ content_url(resource.meta.url) }}">
    <link rel="home" href="http://kwpolska.tk">
    <link rel="prev" href="{{ content_url(resource.prev_by_time.url) }}">
    <link rel="next" href="{{ content_url(resource.next_by_time.url) }}">

    {% block favicons %}
    <link rel="shortcut icon" href="{{ media_url('favicon.ico', safe='/#') }}">
    <link rel="apple-touch-icon" href="{{ media_url('apple-touch-icon.png', safe='/#') }}">
    {% endblock favicons %}

    {% block css %}
    {% include "css.j2" %}
    {% endblock css %}

    {% block fonts %}
    {% include "fonts.j2" %}
    {% endblock fonts %}

    {% block headjs %}
      <script src="{{ media_url('js/libs/modernizr-2.0.6.min.js', safe='/#') }}"></script>
    {% endblock headjs %}
    {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
{% block content %}
    {% block header %}
    <header>
        {% block nav %}
        <nav id="sitenav">
            <div id="logo"><a href="http://kwpolska.tk"><img src="http://kwcdn.tk/images/transparent.png" alt="Kw"></a></div>
            {% block menu %}
            {% from "macros.j2" import render_nav with context %}
            {{ render_nav(menu, 'main_nav') }}
            {% endblock %}
            <h1 id="sitetitle">{{ resource.meta.title }}</h1>
        {% endblock nav %}
        </nav>
    </header>
    {% endblock header %}

    {% block container %}
    <section class="content">
{% block blognotice %}
{% include "blognotice.j2" %}
{% endblock blognotice %}
{% block main %}
{% endblock main %}
    </section>
    {% endblock container %}
    <footer>served by nginx, generated by
    hyde<br>copyright&nbsp;©&nbsp;2009-2013&nbsp;Kwpolska<br><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY-NC-ND</a></footer>
{% endblock content %}
{% block js %}
    <!-- Javascript at the bottom for fast page loading -->
    {% block jquery %}
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://kwcdn.tk/js/libs/jquery-1.7.1.min.js">\x3C/script>')</script>
    {% endblock jquery %}

    {% block fancybox %}
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/source/jquery.fancybox.pack.js?v=2.0.5"></script>
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/source/helpers/jquery.fancybox-buttons.js?v=2.0.5"></script>
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=2.0.5"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({ helpers: { buttons: { position: 'top' }, thumbs: { width: 100, height: 100 } } });
        });
    </script>
    {% endblock fancybox %}

    {% block scripts %}

    {% endblock scripts %}


    <!--[if lt IE 7 ]>
      <script src="js/libs/dd_belatedpng.js"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->

    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}

{% endblock js %}
</body>
</html>
