{% extends "lite.j2" %}{% block main -%}<style>#container { width: 350px; }</style>{% filter markdown|typogrify -%}{% block main_md %}{% endblock %}{%- endfilter %} <p>If the problem persists, <a href="http://kwpolska.tk/contact/">Contact me.</a> (<em><a href="http://kwpolska.github.com/contact/">failsafe contact page</a></em>)</p>{%- endblock %}
