{% from "macros.j2" import render_excerpt, render_post with context %}
{% filter forceescape -%}[{%- endfilter %}
{% for res in resource.node.walk_resources_sorted_by_time() %}
 {"title": "{% filter forceescape -%}{{ res.meta.title }}{%- endfilter %}",
  "author": "{% filter forceescape -%}{{ res.meta.author }}{%- endfilter %}",
  "link": "http://kwpolska.tk{{ content_url(res.url|replace('-', '/', 3)|replace('.html', '/')) }}/",
  "created": "{% filter forceescape -%}{{ res.meta.created|xmldatetime }}{%- endfilter %}",
  "tags": [{% for tag in res.meta.tags %}
           "{% filter forceescape -%}{{ tag }}{%- endfilter %}",
{% endfor %}           "KwsBlog"
          ],
  "image": "{% filter forceescape -%}{{ article.image }}{%- endfilter %}",
  "excerpt": "{% filter forceescape -%}{{ article.excerpt }}{%- endfilter %},
  "excerpthtml": "{% filter forceescape -%}{{ article.excerpt|markdown|typogrify }}{%- endfilter %}",
  "content": "{% filter forceescape -%}{{ article.content|markdown|typogrify }}{%- endfilter %}"
 },
{% endfor %}

 {"type": "kwjson2/blog",
  "title": "{% filter forceescape -%}{% block title %}{{ resource.meta.title|default(feed_title) }}{% endblock %}{%- endfilter %}",
  "self": "http://kwpolska.tk{{ content.url(resource.url) }}",
  "site": "http://kwpolska.tk{{ content.url('') }}",
  "updated": "{{ time_now|xmldatetime }}",
  "copyright": "Copyright (C) 2011 Kwpolska.  Licensed under CC BY-NC-ND."
 }
]
