{% block predoctype %}{% endblock %}<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ resource.meta.title }} — Kw’s Blog</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic|Raleway:100&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">
    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="{{ resource.meta.viewport }}">

    <link rel="canonical" href="{{ content_url(resource.meta.url) }}">
    <link rel="home" href="http://kwpolska.tk">
 
    {% block favicons %}
    <link rel="shortcut icon" href="{{ media_url('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ media_url('apple-touch-icon.png') }}">
    {% endblock favicons %}

    {% block css %}
    {% include "css-lite.j2" %}
    {% endblock css %}

    {% block headjs %}
      <script src="{{ media_url('js/libs/modernizr-2.0.6.min.js') }}"></script>
    {% endblock headjs %}
    {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
    {% block container %}
        <div id="container">
            <header>
                <span class="whereami">Kw’s Blog</span>
                <h1>{{ resource.meta.title }}</h1>
                <h2>{{ resource.meta.description }}</h2>
            </header>

            <section>
                {%block main %}{% endblock %}
            </section>

            <footer><a href="http://kwpolska.tk/">home</a> — <a href="http://tools.kwpolska.tk/">tools</a><br>served by nginx, generated by hyde<br>copyright&nbsp;©&nbsp;2009-2012&nbsp;Kwpolska</footer>

        </div>
    {% endblock %}
{% block js %}
    <!-- Javascript at the bottom for fast page loading -->
    {% block jquery %}
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://kwcdn.tk/js/libs/jquery-1.7.1.min.js">\x3C/script>')</script>
    {% endblock jquery %}

    {% block fancybox %}
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/source/jquery.fancybox.pack.js?v=2.0.5"></script>
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/source/helpers/jquery.fancybox-buttons.js?v=2.0.5"></script>
    <script type="text/javascript" src="http://kwcdn.tk/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=2.0.5"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({ helpers: { buttons: { position: 'top' }, thumbs: { width: 100, height: 100 } } });
        });
    </script>
    {% endblock fancybox %}

    {% block scripts %}

    {% endblock scripts %}


    <!--[if lt IE 7 ]>
      <script src="js/libs/dd_belatedpng.js"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->

    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}

{% endblock js %}
</body>
</html>
