{% extends "base.j2" %}{% block main -%}
<article>
<header id="projectlist">
<a href="http://kwpolska.tk/projects/"><h1 class="projectname">Projects</h1></a>
<ul id="projectlistcontents">
<li><a href="http://kwpolska.tk/projects/kwpastebin/" title="KwPastebin" id="kwpastebin" onclick="loadProject('kwpastebin', 'KwPastebin'); return false">KwPastebin</a></li>
<li><a href="http://kwpolska.tk/projects/kwportal/" title="KwPortal" id="kwportal" onclick="loadProject('kwportal', 'KwPortal'); return false">KwPortal</a></li>
<li><a href="http://kwpolska.tk/projects/pkgbuilder/" title="PKGBUILDer" id="pkgbuilder" onclick="loadProject('pkgbuilder', 'PKGBUILDer'); return false">PKGBUILDer</a></li>
<li>
<ul id="krulist">
<li><a href="http://kwpolska.tk/projects/kru/" title="KRU" id="kru" onclick="loadProject('kru/index', 'KRU'); return false">KRU</a>
<li><a href="http://kwpolska.tk/projects/kru/kwinstaller/" title="KRU/KwInstaller" id="kru-kwinstaller" onclick="loadProject('kru/kwinstaller', 'KRU/KwInstaller'); return false">KwInstaller</a></li>
<li><a href="http://kwpolska.tk/projects/kru/kwd/" title="KRU/KWD" id="kru-kwd" onclick="loadProject('kru/kwd', 'KRU/KWD'); return false">KWD</a></li>
<li><a href="http://kwpolska.tk/projects/kru/multigit/" title="KRU/MultiGit" id="kru-multigit" onclick="loadProject('kru/multigit', 'KRU/MultiGit'); return false">MultiGit</a></li>
<li><a href="http://kwpolska.tk/projects/kru/unpacker/" title="KRU/unpacker" id="kru-unpacker" onclick="loadProject('kru/unpacker', 'KRU/unpacker'); return false">unpacker</a></li>
<li><a href="http://kwpolska.tk/projects/kru/sha512sum/" title="KRU/sha512sum" id="kru-sha512sum" onclick="loadProject('kru/sha512sum', 'KRU/sha512sum'); return false">sha512sum</a></li>
<li><a href="http://kwpolska.tk/projects/kru/syu/" title="KRU/syu" id="kru-syu" onclick="loadProject('kru/syu', 'KRU/syu'); return false">syu</a></li>
<li><a href="http://kwpolska.tk/projects/kru/kcaptcha/" title="KRU/KCAPTCHA" id="kru-kcaptcha" onclick="loadProject('kru/kcaptcha', 'KCAPTCHA'); return false">KCAPTCHA</a></li>
<li><a href="http://kwpolska.tk/projects/kru/lanyon/" title="KRU/Lanyon" id="kru-lanyon"<!-- onclick="loadProject('kru/lanyon', 'KRU/Lanyon'); return false"-->>Lanyon</a></li>
</ul></li>
</ul>
</header>
<div id="projectinfo" class="text">{% filter markdown|typogrify -%}{% block main_project %}{% endblock %}{%- endfilter %}</div>
<footer>kwprojectsbrowser/0.1.1</footer>
</article>{%- endblock %}
{% block scripts -%}
<script src="{{ media_url('js/projects.js', safe='/#') }}"></script>
{%- endblock %}
