{% extends "base.j2" %}
{% block menu -%}
{% from "macros.j2" import render_nav with context %}
{{ render_nav(menu, 'main_nav', 'Projects') }}
{%- endblock %}
{% block main -%}
<article>
<header id="projectlist">
<ul id="projectlistcontents">
<li><a href="http://kwpolska.tk/projects/" title="Projects Home" id="projectshome">PROJECTS:</a></li>
<li><a href="http://kwpolska.tk/projects/kwpastebin/" title="KwPastebin" id="kwpastebin">KwPastebin</a></li>
<li><a href="http://kwpolska.tk/projects/kwportal/" title="KwPortal" id="kwportal">KwPortal</a></li>
<li><a href="http://kwpolska.tk/projects/pkgbuilder/" title="PKGBUILDer" id="pkgbuilder">PKGBUILDer</a></li>
<li><a href="http://kwpolska.tk/projects/trashman/" title="Trashman" id="trashman">Trashman</a></li>
<li>
<ul id="krulist">
<li><a href="http://kwpolska.tk/projects/kru/" title="KRU" id="kru">KRU</a>
<li><a href="http://kwpolska.tk/projects/kru/kwinstaller/" title="KRU/KwInstaller" id="kru-kwinstaller">KwInstaller</a></li>
<li><a href="http://kwpolska.tk/projects/kru/kwd/" title="KRU/KWD" id="kru-kwd">KWD</a></li>
<li><a href="http://kwpolska.tk/projects/kru/multigit/" title="KRU/MultiGit" id="kru-multigit">MultiGit</a></li>
<li><a href="http://kwpolska.tk/projects/kru/unpacker/" title="KRU/unpacker" id="kru-unpacker">unpacker</a></li>
<li><a href="http://kwpolska.tk/projects/kru/sha512sum/" title="KRU/sha512sum" id="kru-sha512sum">sha512sum</a></li>
<li><a href="http://kwpolska.tk/projects/kru/syu/" title="KRU/syu" id="kru-syu">syu</a></li>
<li><a href="http://kwpolska.tk/projects/kru/kcaptcha/" title="KRU/KCAPTCHA" id="kru-kcaptcha">KCAPTCHA</a></li>
<li><a href="http://kwpolska.tk/projects/kru/lanyon/" title="KRU/Lanyon" id="kru-lanyon">Lanyon</a></li>
</ul></li>
</ul>
</header>
<div id="projectinfo" class="text">{% filter markdown|typogrify -%}{% block main_project %}{% endblock %}{%- endfilter %}</div>
<footer>kwprojectsbrowser/0.3</footer>
</article>{%- endblock %}
{% block scripts -%}
<script src="{{ media_url('js/projects.min.js', safe='/#') }}"></script>
{%- endblock %}
