## -*- coding: utf-8 -*-
<%def name="html_head()">
    <meta charset="utf-8">
    <meta name="description" content="${description}" >
    <meta name="author" content="${blog_author}">
    <title>${title} — ${blog_title}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/code.css" rel="stylesheet">
    <link href="/assets/css/slides.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">
    <link href="/assets/css/kw.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet" media="screen">
    <link href="/assets/css/jquery.fancybox-thumbs.css" rel="stylesheet" media="screen">
    <link href="/assets/css/jquery.fancybox-buttons.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %if rss_link:
        ${rss_link}
    %else:
        %for language in translations:
            <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, lang)}">
        %endfor
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}">
        %endfor
    %endif
</%def>

<%def name="html_social()">
</%def>
<%def name="html_sidebar_links()">
    %for url, text in sidebar_links[lang]:
        % if rel_link(permalink, url) == "#":
            <li class="active"><a href="${url}">${text}</a>
        %else:
            <li><a href="${url}">${text}</a>
        %endif
    %endfor
</%def>


<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <a href="${_link("index", None, langname)}">${messages[langname]["LANGUAGE"]}</a>
        %endif
    %endfor
</%def>


<%def name="set_locale(lang)">
<%
    import locale
    locale.setlocale(locale.LC_ALL, (lang, "utf8"))
%>
</%def>
