## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>
<%block name="content">
%if title:
    <header class="page-header">
    <h1><small>HTTP Error</small> <span style="font-size:
    2.5em;">${post.meta('slug')}</span>
    ${post.meta('errdesc')}</h1>
    </header>
%endif
    <p class="lead">
    ${post.meta('description')}
    </p>
    ${post.text(lang)}
</%block>
