## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="phelper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="row">
    % for post in posts:
    <article class="postbox col-md-5
    %if (loop.index + 1) % 2 == 0:
    col-md-offset-2
    %endif
    ">
    <header class="page-header">
    <h1
    %if len(post.title()) < 30:
    class="short-title"
    %endif
    ><a href="${post.permalink()}">${post.title()}</a><br>
    <small>
        <time class="published"
        datetime="${post.date.isoformat()}">${post.date.strftime(date_format)}</time><br> ${phelper.html_tags(post)}
    </small>
    </h1>
    </header>
    <div class="text">
    ${post.text(teaser_only=index_teasers)}
    </div>
    <footer><a href="${post.permalink()}" class="morelink">more</a>
    % if not post.meta('nocomments'):
        — <a href="${post.permalink()}#disqus_thread">comments</a>
    % endif
    </footer>
    </article>
    % if (loop.index + 1) % 2 == 0:
    </div><div class="row">
    % endif
    % endfor
    ${helper.html_pager()}
    </div>
    ${comments.comment_link_script()}
    ${helper.mathjax_script(posts)}
</%block>
