## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    ${helper.html_pager(post)}
    <article class="postbox" id="article">
    <header class="page-header">
    <h1><a href="${helper.nice_url(post)}">${post.title(lang)}</a>
    <small>
        ${post.date.strftime(date_format)} <br> ${helper.html_tags(post)}
    </small>
    </h1>
    </header>
    <div class="text">
    <%
    from nikola.post import TEASER_REGEXP
    teaser_split = TEASER_REGEXP.split(post.text(lang))
    try:
        pdata = u'<div class="lead">{0}</div>{1}'.format(teaser_split[0], teaser_split[3])
    except IndexError:
        pdata = post.text(lang)
    %>
    ${pdata}
    </div>
    <footer><a href="#disqus_thread">comments</a></footer>
    </article>

    <article class="postbox" id="comments">
    <header class="page-header">
    <h1>Comments <small>Brought to you by <a href="http://disqus.com">DISQUS</a>.</small></h1>
    </header>
    <div class="text">
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kwpolska'; // required: replace example with your forum shortname
        var disqus_url = 'http://kwpolska.tk${helper.nice_url(post)}';
        var disqus_title = '${post.title(lang)}';
        var disqus_identifier = '${helper.nice_url(post)}';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <footer>leave a comment above.</footer>
    </article>
</%block>

<%block name="sourcelink">
    <li>
    <a href="${post.meta[lang]['slug']+post.source_ext()}" id="sourcelink">${messages[lang]["Source"]}</a>
    </li>
</%block>
