## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}"/>
% endif
</%block>
<%block name="content">
    <article class="postbox" id="article">
    <header class="page-header">
    <h1><a href="${post.permalink()}">${post.title()}</a>
    <small>
        <time class="published" datetime="${post.date.isoformat()}">${post.date.strftime(date_format)}</time><br>${helper.html_tags(post)}
    </small>
    </h1>
    </header>
    <div class="text">
    <%
    import lxml.html
    import lxml.etree
    from nikola.post import TEASER_REGEXP
    teaser_split = TEASER_REGEXP.split(post.text())
    try:
        lead = teaser_split[0]
        ptext = teaser_split[3]
    except IndexError:
        lead = None
        ptext = post.text()
    %>
    %if lead:
    <div class="lead">
        ${lead}
        </div>
        </div>
    %endif
    ${ptext}
    </div>

    ${helper.mathjax_script(post)}
    <footer><a href="#disqus_thread">comments</a></footer>
    </article>

    <div class="comments">
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
    </div>
</%block>

<%block name="sourcelink">
% if not post.meta('password'):
    <li>
    <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
    </li>
% endif
</%block>
