## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%block name="content">
%if title:
    <header class="page-header">
    <h1>${title}</h1>
    </header>
%endif

<div class="text">
<%
import lxml.html
import lxml.etree
from nikola.post import TEASER_REGEXP
teaser_split = TEASER_REGEXP.split(post.text())
try:
    lead = teaser_split[0]
    ptext = teaser_split[3]
except IndexError:
    lead = None
    ptext = post.text()
%>
%if lead:
<div class="lead">
    ${lead}
    </div>
    </div>
%endif
${ptext}
</div>
</%block>
