## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
    <header class="page-header"><h1>${title} <small>a.k.a. Organizational
    Structures</small></h1></header>
    % if cat_items:
        <h2>${messages("Categories")}</h2>
        <ul class="list-inline">
        % for text, link in cat_items:
            % if text:
                <li><a class="reference" href="${link}"><span
                class="badge badge-tag">${text}<span></a></li>
            % endif
        % endfor
        </ul>
        % if items:
            <h2>${messages("Tags")}</h2>
        % endif
    %endif
    % if items:
        <ul class="list-inline">
        % for text, link in items:
            <li class="col-md-2"><a class="reference" href="${link}"><span
            class="badge badge-tag">${text}</span></a></li>
        % endfor
        </ul>
    % endif
</%block>
