/* reST styles */
html.legacy-styles {
    div.admonition, div.attention, div.caution, div.danger, div.error,
    div.hint, div.important, div.note, div.tip, div.warning, div.sidebar,
    div.system-message,
    aside.admonition, aside.attention, aside.caution, aside.danger, aside.error,
    aside.hint, aside.important, aside.note, aside.tip, aside.warning, aside.sidebar,
    aside.system-message {
        background-color: var(--bs-body-bg) !important;
        color: var(--bs-body-color) !important;
        border-color: rgba(var(--bs-body-color-rgb), 0.125) !important;
        padding: 0;
        border-radius: .25rem;
    }


    div.admonition p, div.hint p,
    div.important p, div.note p,
    div.tip p, div.sidebar p,
    div.attention p, div.caution p,
    div.danger p, div.error p,
    div.warning p, div.system-message p,
    aside.admonition p, aside.hint p,
    aside.important p, aside.note p,
    aside.tip p, aside.sidebar p,
    aside.attention p, aside.caution p,
    aside.danger p, aside.error p,
    aside.warning p, aside.system-message p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    div.admonition p.admonition-title, div.hint p.admonition-title,
    div.important p.admonition-title, div.note p.admonition-title,
    div.tip p.admonition-title, div.sidebar p.sidebar-title,
    div.attention p.admonition-title, div.caution p.admonition-title,
    div.danger p.admonition-title, div.error p.admonition-title,
    div.warning p.admonition-title, div.system-message p.system-message-title,
    aside.admonition p.admonition-title, aside.hint p.admonition-title,
    aside.important p.admonition-title, aside.note p.admonition-title,
    aside.tip p.admonition-title, aside.sidebar p.sidebar-title,
    aside.attention p.admonition-title, aside.caution p.admonition-title,
    aside.danger p.admonition-title, aside.error p.admonition-title,
    aside.warning p.admonition-title, aside.system-message p.system-message-title {
        background-color: rgba(var(--bs-body-color-rgb),.03) !important;
        border-color: rgba(var(--bs-body-color-rgb), 0.125) !important;
        font-weight: 400;
        padding: 1rem;
    }

    @media (min-width: 1200px) {
        .right-toc, div.sidebar, aside.sidebar {
            width: calc(30% + 100px) !important;
            margin-right: -100px !important;
        }
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        .right-toc, div.sidebar, aside.sidebar {
            width: calc(30% + 40px) !important;
            margin-right: -40px !important;
        }
    }

    .sidebar {
        width: 30%;
        max-width: 26em;
        float: right;
        clear: right;
    }

    .sidebar,.admonition, .system-message {
        border: thin solid;
        margin: 1em 2em;
        padding: .5em 1em;
    }

    .post-text section p:last-child {
        margin-bottom: 1rem;
    }
}
