/* Print styles */
@media print {
    .navbar, #cookiebox {
        display: none;
    }

    .page-header a.u-url {
        color: var(--bs-body-color);
    }

    pre.code, .code .codetable, .highlight pre {
        background: var(--bs-background-color);
    }

    .codetable td.code, .codetable td.code span {
        color: var(--bs-body-color) !important;
    }
}
