{% layout "base.liquid" %}

<header class="page-header">
  <h1>{{ Title }}</h1>
</header>

<ul class="postlist">
  {% for link in Links %}
    <li><a href="{{ link.Url }}">{{ link.Title }}</a>{% if link.Count %} ({{ link.Count }}){% endif %}</li>
  {% endfor %}
</ul>
