{% layout "base.liquid" %}
{% from 'helper' import renderBreadcrumbs %}

<header class="page-header">
  <h1>Listings</h1>
</header>

{{ renderBreadcrumbs(Breadcrumbs) }}

<ul class="list-unstyled">
  {% for entry in Entries %}
  <li><a href="{{ entry.Url }}"><i class="fa {% if entry.IsItem %}fa-file{% else %}fa-folder-open{% endif %}"></i> {{ entry.LastPart }}</a>
  {% endfor %}
</ul>
