{% layout "base.liquid" %}
{% from 'helper' import renderBreadcrumbs %}

<header class="page-header">
  <h1>{{ title }}
  <a href="{{ item | listingSourceUrl }}">(Source)</a>
  </h1>
</header>

{{ renderBreadcrumbs(Breadcrumbs) }}

{{ Item.Content | raw }}
