{% layout "base.liquid" %}

<article itemtype="http://schema.org/Article">
  <header class="page-header"><h1 class="p-name entry-title" itemprop="headline name">
      {{ Item.Title }}
    </h1>
  </header>
  <div class="e-content entry-content" itemprop="articleBody text">
    {% if Item.Teaser %}
      <div class="lead">
        {{ Item.Teaser | raw }}
      </div>
    {% endif %}
    {{ Item.Content | raw }}
  </div>
</article>
