/* Kw’s Custom CSS
 * Copyright © 2013-2014, Chris Warrick.
 */

.navbar-kw {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aadd), to(#0000c1));
    background-image: -webkit-linear-gradient(top, #00aadd, 0%, #0000c1, 100%);
    background-image: -moz-linear-gradient(top, #00aadd 0%, #0000c1 100%);
    background-image: linear-gradient(to bottom, #00aadd 0%, #0000c1 100%);
    background-repeat: repeat-x;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aadd', endColorstr='#ff0000c1', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar-kw a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.navbar-kw li.active a,
.navbar-kw a:active, .navbar-kw li.active a:active {
    color: #000 !important;
    background: #fff !important;
    text-shadow: none;
}

.navbar-kw .navbar-brand #blog-title {
    display: inline;
}

.navbar-kw a:hover, .navbar-kw li.active a:hover,
.navbar-kw a:focus, .navbar-kw li.active a:focus {
    color: #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aadd), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #00aadd, 0%, #ffffff, 100%);
    background-image: -moz-linear-gradient(top, #00aadd 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #22ccff 0%, #0606ff 100%);
    background-repeat: repeat-x;
    outline: none;
}

.navbar-kw .navbar-toggle {
    color: #fff;
    background-color: #0ad;
    border: 1px solid #fff;
    padding: 6px 10px;
}

/* Table overrides */

table, th, td {
    border: 0;
}

/* Kw’s standard footers */
footer.site-footer, footer.post-footer {
    font-style: italic;
    color: #888;
    text-align: center;
    clear: both;
}

footer.post-footer .morelink {
    font-weight: bold;
}

footer.post-footer {
    text-transform: lowercase;
}

.thumbnail, figure {
    text-align: center;
}

/* Proper figures */
article figure {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    float: right;
}

/* Article style */
article.postbox {
    /*border: 1px solid #ddd;*/
    background: #fff;
    padding: 0;
    /*margin: 5px auto;
    margin-bottom: 15px;
    vertical-align: middle;*/
}

.page-header .metadata a time {
    color: #777;
    font-weight: normal;
}

article.postbox .p-summary.entry-summary, ul.postlist {
    margin-top: 1em;
}

article.postbox footer {
    background: #ddd;
}

/* article.postbox */
header.page-header {
    border-bottom: 1px solid #ddd;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
    text-shadow: 0px 1px 1px #000;
}

h1.short-title {
    font-size: 3.25em;
}

article.postbox header a,
.page-header h1 {
    font-weight: bold;
}

.tags.full-list {
    text-align: left;
}

.tags > li {
    background-color: #00aadd;
    color: #ffffff;
}

.tags > li.lang {
    background-color: #0d0d0d;
    color: #ffffff;
    font-weight: normal;
}

.tags > li.lang > a {
    font-weight: normal;
}

.tags > li.lang-current {
    background-color: #0000c1;
    color: #ffffff;
}

.tags > li.lang-current > a {
    font-weight: bold;
}

.page-header h1 {
    margin-top: 20px;
    padding-top: 0;
}

.page-header a.u-url {
    padding: 3px;
    color: #00aadd;
}

.page-header a.u-published {
    padding: 3px;
    font-size: 24px;
}

.btn-header-line {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
}

.page-header a.u-url:hover, .page-header a.u-published:hover,
.page-header a.u-url:focus, .page-header a.u-published:focus {
    text-decoration: none;
    background: #ccf3ff;
    border-radius: 10px;
}

.page-header a.u-url:active,
.page-header a.u-published:active {
    text-decoration: none;
    background: #bbefff;
    border-radius: 10px;
}


.ie6 {
    background: #fdd;
    color: #f00;
    font-size: 7.5em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.postbox {
    border-bottom: 0;
    margin-bottom: 35px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.list-nobullets {
    list-style: none;
}

.android-adventure-logo-full {
    margin: 0 auto 10px;
    display: block;
}

.android-adventure-logo-robot {
    margin: 0 auto 10px;
    display: block;
}

.centered {
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px) {
    .android-adventure-logo-full {
        display: block;
        margin: 0 0 10px 10px;
        text-align: right;
        float: right;
    }

    .android-adventure-logo-robot {
        display: block;
        margin: 0 0 10px 10px;
        text-align: right;
        float: right;
    }
}
