/* Kw’s Custom CSS
 * Copyright © 2013-2014, Chris “Kwpolska” Warrick.
 */

.navbar-kw {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aadd), to(#0000c1));
    background-image: -webkit-linear-gradient(top, #00aadd, 0%, #0000c1, 100%);
    background-image: -moz-linear-gradient(top, #00aadd 0%, #0000c1 100%);
    background-image: linear-gradient(to bottom, #00aadd 0%, #0000c1 100%);
    background-repeat: repeat-x;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aadd', endColorstr='#ff0000c1', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar-kw a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.navbar-kw li.active a {
    color: #000;
    text-shadow: none;
    background: #fff;
}

.navbar-kw .navbar-brand {
    padding: 0 15px;
}

.navbar-kw a:hover, .navbar-kw li.active a:hover {
    color: #fff !important;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aadd), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #00aadd, 0%, #ffffff, 100%);
    background-image: -moz-linear-gradient(top, #00aadd 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #22ccff 0%, #0606ff 100%);
    background-repeat: repeat-x;
    text-shadow: none;
}

.navbar-kw .navbar-toggle {
    color: #fff;
    background-color: #0ad;
    border: 1px solid #fff;
    padding: 6px 10px;
}

/* Table overrides */

table, th, td {
    border: 0;
}

/* Kw’s standard footers */
footer {
    font-style: italic;
    color: #888;
    text-align: center;
    clear: both;
}

footer .morelink {
    font-weight: bold;
}

.thumbnail, figure {
    text-align: center;
}

/* Proper figures */
article figure {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    float: right;
}

/* Article style */
article.postbox {
    /*border: 1px solid #ddd;*/
    background: #fff;
    padding: 0;
    /*margin: 5px auto;
    margin-bottom: 15px;
    vertical-align: middle;*/
}

article.postbox .text {
    padding: 15px;
}

article.postbox footer {
    background: #ddd;
}

/* article.postbox */
header.page-header {
    border-bottom: 1px solid #ddd;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
    text-shadow: 0px 1px 1px #000;
}

h1.short-title {
    font-size: 3.25em;
}

article.postbox header a {
    font-weight: bold;
}

.badge-tag {
    background-color: #00aadd;
    color: #ffffff;
}

.page-header h1 {
    margin-top: 20px;
    padding-top: 0;
}

.page-header h1 a {
    color: #00aadd;
}

.ie6 {
    background: #fdd;
    color: #f00;
    font-size: 7.5em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.postbox {
    border-bottom: 0;
    margin-bottom: 35px;
}
